@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-bg: hsl(0, 0%, 100%);
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --stroke-color: hsl(0, 0%, 80%); /* Light gray for strokes */
    --tooltip-bg: hsl(0, 0%, 100%); /* White background for tooltips */
    --tooltip-text: hsl(0, 0%, 0%); /* Black text for tooltips */
    --secondary-red: hsl(0, 75%, 60%);
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: 224 71% 4%;
    --card-bg: hsl(0, 0%, 20%);
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --stroke-color: hsl(0, 0%, 40%); /* Dark gray for strokes */
    --tooltip-bg: hsl(0, 0%, 20%); /* Dark background for tooltips */
    --tooltip-text: hsl(0, 0%, 100%); /* White text for tooltips */
    --secondary-red: hsl(0, 75%, 60%);
    --separator: 210 60% 96%;
  }
  @font-face {
    font-family: 'BAM';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/bam/BasicallyAMono-Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'inclusive';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/inclusive/InclusiveSans-Regular.ttf) format('truetype');
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.dashed {
  background: repeating-linear-gradient(
    to right,
    white 0%,
    white 30%,
    transparent 30%,
    transparent 60%
  );
}

.dashed-up {
  background: repeating-linear-gradient(
    to bottom,
    white 0%,
    white 35%,
    transparent 35%,
    transparent 63%
  );
}

@keyframes shake {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(3%);
  }
}

.car__body {
  animation: shake 0.3s ease-in-out infinite alternate;
}

/* Line Animations */
@keyframes line {
  0% {
    stroke-dashoffset: 22;
  }
  25% {
    stroke-dashoffset: 22;
  }
  50% {
    stroke-dashoffset: 0;
  }
  51% {
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: -22;
  }
  100% {
    stroke-dashoffset: -22;
  }
}

.car__line {
  stroke-dasharray: 22;
  animation: line 0.8s ease-in-out infinite;
  animation-fill-mode: both;
}

.car__line--top {
  animation-delay: 0s;
}

.car__line--middle {
  animation-delay: 0.2s;
}

.car__line--bottom {
  animation-delay: 0.4s;
}

.line {
  width: 100%; /* Use relative units */
  height: 2px;
  background: linear-gradient(
    to right,
    yellow 50%,
    transparent 50%
  );
  background-size: 20px 2px;
  animation: moveLeft 3s linear infinite;
}

.line.delay-2 {
  animation-delay: 1s;
}

@keyframes moveLeft {
  from {
    background-position: 20px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* If you prefer a quick approach for perspective + flipping */
.flip-container {
  perspective: 1000px; /* Container needs perspective to enable 3D transform */
}

.flip-card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flip-card-back {
  transform: rotateY(180deg);
}